@use "../../styles/abstracts/variables" as *;

.staff-resource-container {
  overflow-y: scroll;
  height: 400px;
  overflow-x: hidden;
}

// @media screen and (max-width: $tablet-breakpoint) {
//   .staff-resource-container {
//     display: none;
//   }
// }
