@use "../../styles/base/typography" as *;
@use "../../styles/abstracts/variables" as *;

.login-page,
.login-form {
  margin: 5%;
  height: 100vh;
  color: $color-black;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-start;

  &__logo {
    height: 50px;
    margin-bottom: 10%;
  }

  &__title {
    font-family: $font-homepage;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    color: $color-black;
  }
  &__desc {
    font-family: $font-homepage;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: $login-text;
    margin-bottom: 38px;
    line-height: 160%;
  }

  &__input-container {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 354px;
    align-items: stretch;
  }

  &__label {
    margin-top: 5%;
    align-self: flex-start;
    font-family: $font-homepage;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: $color-black;
  }
  &__input {
    padding-left: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 45px;
    color: $color-black;
    border: 1px solid $login-background;
    border-radius: 4px;

    &:nth-of-type(2) {
      margin-bottom: 40px;
    }
  }
  &__image-container {
    display: none;
  }
  #validation {
    &--success {
      font-family: $font-mobilehome;
      font-size: 0.8rem;
      position: absolute;
      width: 700px;
      height: 50px;
      left: 10px;
      bottom: 10px;
      background-color: #dff8ed;
      color: #0fdb7f;
      display: flex;
      align-items: center;
      justify-content: space-around;
      border-radius: 8px;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
      animation: pop 500ms ease-in-out;
    }

    &--error {
      font-family: $font-mobilehome;
      font-size: 0.8rem;
      position: absolute;
      max-width: 750px;
      width: 80%;
      left: 11%;
      top: 125px;
      background-color: #f8d7da;
      color: #fd1015;
      display: flex;
      align-items: center;
      justify-content: space-around;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      animation: pop 800ms ease-out;
      animation-fill-mode: forwards;
      min-height: 50px;
      padding: 8px;
    }

    @keyframes pop {
      0% {
        display: block;
        top: 100px;
        opacity: 1;
      }
      25% {
        opacity: 1;
      }
      90% {
        opacity: 1;
      }
    }
  }
  .cross {
    flex-shrink: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-weight: 800;
    color: $color-black;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    &-image {
      transform: rotateZ(45deg);
      filter: invert(100%);
      height: 100%;
      width: 100%;
      object-fit: contain;
      padding: 1px;
    }
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .login-page,
  .login-form {
    flex-direction: row;
    margin: 0;
    justify-content: space-between;

    &__image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: stretch;
      background: $login-background;
      overflow: hidden;
      min-width: 30%;
    }
    &__title {
      text-align: left;
    }
    &__desc {
      text-align: left;
    }
    &__image {
      position: relative;
      left: 100px;
      filter: blur(30px);
      object-fit: contain;
      padding: 50px;
    }
    &__logo {
      align-self: flex-start;
      margin: 25px;
      flex-shrink: 2;
    }

    &__input-container {
      margin: 0 10%;
    }
    #validation {
      &--error {
        width: 42%;
        left: 29%;
      }
    }
  }
}
