.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 20vw;
  border-top-right-radius: 20px;
  background-color: #8aaae5;

  &__logo-container {
    display: flex;
    height: 20vh;
    justify-content: center;
    align-items: center;
  }

  &__menu-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
    justify-content: space-evenly;
    width: 20vw;
  }
  &__settings {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
  }
  &__line-break {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0.25vh;
    width: 16vw;
  }
}
