@use "../../styles/abstracts/variables" as *;


.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 22vw;
  border-top-right-radius: 30px;
  background-color: $background-nav-light;

  &__logo-container {
    display: flex;
    height: 20vh;
    justify-content: center;
    align-items: center;
  }

  &__logo{
    height:7.25vh;
  }

  &__menu-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 33vh;
    justify-content: center;
    width: 22vw;
  }
  &__settings {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 39.5vh;
    width: 22vw;
    margin: 2vh 0vh;
  }
  &__line-break {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0.1vh;
    width: 18vw;
    padding-top: 1.9vh;
    padding-bottom: 1.5vh;
  }
}
