@use "../../styles/base/typography" as *;


.nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 20vw;
  justify-content: flex-start;

  &__image-container {
    padding-left: 4.75vw;
  }

  &__text-container {
    padding-left: 2vw;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.nav-item__text {
  font-family: $font-modern;
  font-size: 0.65rem !important;
  color: #ffff;
  opacity: 50%;
}

.nav-item:hover {
  background-color: #2a5fc280;
}
