@use "../../styles/base/typography" as *;
@use "../../styles/abstracts/variables" as *;

.nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 22vw;
  justify-content: flex-start;
  height: 5vh;
  padding: 1vh 0vh;
  margin: 0.5vh 0vh;

  &__image-container {
    padding-left: 5.15vw;
    width: 20px;
  }

  &__image {
    width: 20px;
  }

  &__text-container {
    padding-left: 4vw;
  }

  &__text {
    font-family: $font-modern;
    font-size: 0.75rem !important;
    color: $text-color;
    opacity: 50%;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.nav-item:hover {
  background-color: $background-nav-select;
  opacity: 50%;
}

@media screen and (min-width: $tablet-breakpoint) and (max-width:1023px) {
  .nav-item__text {
    font-size: 0.4rem !important;
  }

  .nav-item__image {
    width: 12px;
  }
}

@media screen and (min-width:$desktop-breakpoint) and (max-width:1439px) {
  .nav-item__text {
    font-size: 0.5rem !important;
  }

  .nav-item__image {
    width: 15px;
  }
}

@media screen and (min-width:$extra-large-desktop-breakpoint) {
  .nav-item__text {
    font-size: 1rem !important;
  }

  .nav-item__image {
    width: 30px;
  }
}
