//default button
.button{
    background-color: #E5C58A;
    box-shadow: 0px 20px 40px rgba(114, 75, 203, 0.2);
    border-radius: 7px;
    border-color: transparent;
    width: 165px;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
//go,save,cancel, and the apply are default width and height

//Logn page button
.isLogin{
    height: 46px;
    width: 100%;
    border-radius: 4px;
    box-shadow: none;
    font-size: 12px;
    font-weight: 500;
}
//all the button in the headers on each page ( save , create , edit etc.)
.isHeader{
    height: 50px;
    width: 130px;
}

.noPlus{
    display: none;
}
//add plus to the button
.isPlus{
    position: relative;
    color: white;
    right: 16%;
    font-size: 25px;
}
//Request Resource pop-up - Home button
.isRequestComplete{
    width: 132px;
    height: 38px;
    font-size: 14px;
    border-radius: 5.5px;
    font-weight: 700;
    box-shadow: none;
}
//Edit/Request Resorce, Save button
.isResourceSave{
    width: 167.89px;
    height: 58.4px;
}
// add client upload image button
.isUpload{
    background: #F5F5F5;
    width: 145px;
    height: 39px;
    font-size: 12px;
    color: black;
    box-shadow: none;
}
// cancel buttons. booking pages, nav bar page , staff page, client page.
.isCancel{
    &--grey{
        background-color: rgba(124, 118, 138, 0.25);
        box-shadow: none;
        font-weight: 700;
    }
    &--purple{
        background: #FFFFFF;
        border: 1px solid #724BCB;
        color: #724BCB;
        box-shadow: none;
        font-weight: 700;
    }
}
// delite client page pop-up buttons
.isDelete{
    &--cancel{
        border: 0.804878px solid #EE6161;
        color: #EE6161;
        font-size: 11.27px;
        width: 132px;
        height: 38px;
        border-radius: 5.6px;
        background-color: white;
        box-shadow: none;
    }
    &--confirm{
        background: #EE6161;
        font-size: 14px;
        width: 132px;
        height: 38px;
        border-radius: 5.6px;
        box-shadow: none;
    }
}
//Turns any button purple
.isPurple{
    background-color: #724BCB;
}

//save button disable
.inputIncomplete{
    background: rgba(229, 197, 138, 0.3); 
    box-shadow: none;
}

