@use "../../styles/base/typography" as *;
@use "../../styles/abstracts/variables" as *;

.button {
  background-color: $button-enabled;
  box-shadow: 0px 20px 40px rgba(114, 75, 203, 0.2);
  border-radius: 7px;
  border-color: transparent;
  width: 9.063rem;
  height: 2.688rem;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-white;
  font-family: $font-modern;
}

.isLogin {
  height: 2.875rem;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 12px;
  font-weight: 500;
}

.isMobileDefault{
  width:100%;
  height: 4.125rem;
  border-radius: 5px;
  box-shadow: none;
  font-size: 16px;
  font-weight: 700;
}

.isMobilePopup{
  width: 8.25rem; 
  height: 2.375rem;
  border-radius: 5.54167px;
  font-size: 14px;
  font-weight: 700;
}

.noPlus {
  display: none;
}

.isPlus {
  position: relative;
  color: $color-white;
  right: 10%;
  font-size: 25px;
  bottom: 0.125rem;
}

.isLogout{
  background-color: #EE6161;
}

.isLogoutPopup{
  &--logout{
    width:8.25rem;
    height:2.375rem;
    background:#EE6161;
    box-shadow:0px 20px 40px rgba(114, 75, 203, 0.2);
    border-radius: 7px;
  }
  &--back{
    width:8.25rem;
    height:2.375rem;
    box-shadow:0px 20px 40px rgba(114, 75, 203, 0.2);
    border-radius: 7px;
  }
}

@media screen and (min-width: 768px){
  .isLogin{
    box-shadow: none;
  }
  .button{
    box-shadow: 0px 20px 40px rgba(114, 75, 203, 0.2);
    width: 13.8vw;
    height: 6.2vh;
  }

  .isHeader {
    height: 3.125rem;
    width: 8.125rem;
  }

  .isRequestComplete {
    width: 8.25rem;
    height: 2.375rem;
    font-size: 14px;
    border-radius: 5.5px;
    font-weight: 700;
    box-shadow: none;
  }

  .isResourceSave {
    width: 10.493rem;
    height: 3.65rem;
  }

  .isUpload {
    background: $button-upload;
    width: 9.063rem;
    height: 2.438rem;
    font-size: 12px;
    color: $color-black;
    box-shadow: none;
  }

  .isCancel {
    &--grey {
      background-color: rgba(124, 118, 138, 0.25);
      box-shadow: none;
      font-weight: 700;
    }
    &--purple {
      background: $color-white;
      border: 1px solid $button-purple;
      color: $button-purple;
      box-shadow: none;
      font-weight: 700;
    }
  }

  .isDelete {
    &--cancel {
      border: 0.804878px solid $button-logout;
      color: $button-logout;
      font-size: 14px;
      width: 8.25rem;
      height: 2.375rem;
      border-radius: 5.6px;
      background-color: $color-white;
      box-shadow: none;
    }
    &--confirm {
      background: $button-logout;
      font-size: 14px;
      width: 8.25rem;
      height:2.375rem;
      border-radius: 5.6px;
      box-shadow: none;
    }
  }

  .isPurple {
    background-color: $button-purple;
  }

  .inputIncomplete {
    background: rgba(229, 197, 138, 0.3);
    box-shadow: none;
  }
}