@use "../../styles/base/typography" as *;
@use "../../styles/abstracts/variables" as *;

.active-client-overview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  gap: 1vh;

  &__mobile-heading {
    display: none;
  }
  &__mobile-booking {
    display: flex;
    flex-direction: row;
    width: auto;
    gap: 3.5vw;
  }
  &__heading {
    color: $page-sub-heading;
    font-size: 1rem;
    font-weight: 600;
    padding-left: 8vw;
    width: 100%;
  }
  &__cards {
    display: flex;
    flex-direction: row;
    gap: 3.5vw;
  }
}

@media screen and (max-width: 767px) {
  .active-client-overview {
    flex-direction: column;
    &__heading {
      display: none;
    }
    &__cards {
      flex-direction: column;
      align-items: center;
    }

    &__mobile-heading {
      display: flex;
      color: $page-sub-heading;
      font-size: 1.25rem;
      font-weight: 600;
      text-decoration: underline;
      padding-left: 4vh;
      margin-top: 3vh;
      margin-bottom: 2vh;
    }

    &__booking-contact-card {
      display: none;
    }

    &__client-booking-card {
      display: none;
    }

    &__mobile-booking {
      width: auto;
      flex-direction: column;
    }
  }
}