// breakpoints
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$large-desktop-breakpoint: 1440px;
$extra-large-desktop-breakpoint: 2560px;

//colors
$text-color: #f3f2e8;
$background-color: #1f1b1b;

// Globals
$color-white: #ffffff;
$color-black: #000000;
$color-light-grey: #e0e2f4;
$color-grey: #aaaaaa;
$color-blue: #0414a7;
//login page
$login-background: #e5e5e5;
$login-text: #7b7b7b;

// header
$background-header-light: #8aaae5;
$heading-text: #2d3748;
$background-header-dark: #2e485b;

//navigation
$background-nav-light: #8aaae5;
$background-nav-dark: #2e485b;
$background-nav-select: #2a5fc2;

//button
$button-enabled: #e5c58a;
$button-disabled: #7c768a;
$button-logout: #ee6161;
$button-purple: #724bcb;
$button-upload: #f5f5f5;

//pages
$page-sub-heading: #102b3f;
$page-text: #95accb;
$page-sub-text: #595959;
$page-background-light: #f8f8ff;
$page-background-dark: #6a93b0;
$search-bar-background: #ebebf5;
$blank-client-image: #c4c4c4;
$dark-border: #405066;
$light-border: #e2e8f0;
$data-page-background: #fafafa;
$mobile-footer-background: #fffbfb;
