@use "../../styles/base/typography" as *;
@use "../../styles/abstracts/variables" as *;

.filters {
  padding: 0 10%;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  height: 63px;

  &--label {
    margin: 0;
    font-family: $font-modern;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: $heading-text;
    width: auto;
    height: 32px;
  }

  &--search,
  &--display,
  &--sort {
    height: 32px;
    width: auto;
    display: flex;
    align-items: center;
    & > p {
      font-family: $font-modern;
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      line-height: 15px;
      /* identical to box height */
      text-align: center;
      letter-spacing: 0.03em;
      color: $page-text;
    }
    &:hover {
      cursor: pointer;
    }
  }

  &--search {
    height: 32px;
    width: 172px;
    background-image: url("../../assets/images/functional-icons/search-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 95% 50%;
    background-color: $search-bar-background;
    border: none;
    color: $page-sub-text;
    padding-left: 10px;
  }

  &__select--dropdown {
    height: 32px;
    color: $color-black;
    font-family: $font-modern;
    font-size: 0.7rem;
    background-color: transparent;
    background-image: url("../../assets/images/functional-icons/filter-icon.png");
    background-repeat: no-repeat;
    background-position: 0% 50%;
    border: none;
    padding-left: 15px;
    width: 150px;
    appearance: none;
    z-index: 10;
  }
  &__option {
    font-family: $font-modern;
    color: $color-black;
    font-size: 0.7rem;
    & * {
      width: 100px;
    }
  }
}
