@use "../../styles/abstracts/variables" as *;

.home-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  height: auto;
  background-color: $page-background-light;
}
.active {
  opacity: 20%;
}
