@use "../../styles/abstracts/variables" as *;

.layout {
  min-height: 100vh;
  height: auto;
  width: 80vw;
  background-color: $page-background-light;
}

@media screen and (max-width: $tablet-breakpoint) {
  .layout {
    width:100vw;
    background-color: $color-white;
  }
}
