@use "../../styles/base/typography" as *;
@use "../../styles/abstracts/variables" as *;

.card-container {
  width: 17vw;
  height: 35vh;
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 30px 40px rgba(114, 75, 203, 0.06);
  border-radius: 7px;

  &__image-container {
    margin-top: 10px;
    height: 50%;
    margin-top: 10%;

    &--image {
      height: 100%;
      width: 100%;
      aspect-ratio: 1;
      border-radius: 50%;
    }
  }
  &__info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1.5vh;

    &--name {
      font-size: 1.25rem;
      font-family: $font-modern;
      color: $page-sub-heading;
      font-weight: 700;
      text-align: center;
      margin: 0;
    }

    &--role {
      color: $page-text;
      font-size: 0.875rem;
      text-align: center;
      font-weight: 400;
      text-align: center;
      font-family: $font-modern;
      margin: 0;
    }
  }
}
@media screen and (max-width: 767px) {
  .card-container {
    width: 70vw;
    height: 50vh;
    &__info-container {
      height: auto;
      &--name {
        font-size: 2rem;
      }

      &--role {
        display: none;
      }
    }
    &__image-container {
      height: 50%;
    }
  }
}