@use "../../styles/base/reset" as *;
@use "../../styles/base/typography" as *;
@use "../../styles/abstracts/variables" as *;

.input-field {
  display: flex;
  flex-direction: column;
  font-family: $font-modern;
  font-size: 0.9rem;
  gap: 1.1vh;
  &__label {
    font-weight: 600;
    color: $color-black;
    font-family: $font-modern;
  }

  &__input {
    height: 50px;
    width: 100%;
    border: 1px solid $light-border;
    border-radius: 7px;
    padding-left: 0.5rem;
    color: $color-black;
    background-color: $color-white;
    font-family: $font-modern;

    &::placeholder {
      color: $page-text;
      font-family: $font-modern;
    }

    @media screen and (min-width: $tablet-breakpoint) {
      .input-field {
        &__input {
          height: 5.7vh;
          width: 28.5vw;
          background-color: $page-background-light;
          font-family: $font-modern;
        }
      }
    }
  }
}
