@use "../../styles/abstracts/variables" as *;
@use "../../styles/base/typography" as *;

.resources-page {
  display: flex;
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  &__main-content {
    min-height: 100vh;
    width: 78vw;
    height: 100%;
    background-color: rgba(167, 167, 167, 0.06);

    display: flex;
    flex-direction: column;
  }
  &__header {
    width: 100%;
  }
  &__cards-container {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: $tablet-breakpoint) {
  .resources-page {
    &__main-content {
      width: 100vw;
    }
  }
}
