.resources-page{
    display: flex;
    &__main-content{
      
        min-height: 100vh;
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
          
        
    }
    
}