@use "../../styles/abstracts/variables.scss" as *;
@use "../../styles/base/typography" as *;

.settings-card-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 3vh;
  * {
    font-family: $font-modern !important;
  }
}

.settings-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 33vw;
  min-height: 26vh;
  background-color: $color-white;
  border-radius: 7px;
  box-shadow: 0px 30px 30px rgba(114, 75, 203, 0.06);
  padding: 3vh 3vw;
  background-color: $color-white;

  &__content {
    min-height: 12vh;
    justify-content: space-between;
    align-items: center;
  }
  &__mode {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1vh;
  }
  &__option {
    font-size: 1rem;
    color: $heading-text;
    min-width: 2vw;
  }
  &__toggle-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10vw;
  }
  &__theme {
    display: flex;
    justify-content: space-between;
  }
  &__checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__checkbox-label {
    font-size: 0.8rem;
    font-weight: 400;
    color: $page-text;
    padding-left: 1.5vw;
    padding-right: 0.5vw;
  }
  &__button-container {
    display: flex;
    align-items: flex-end;
  }
  &__toggle-sun {
    padding-right: 0.5vw;
  }
  &__toggle-moon {
    padding-left: 0.5vw;
  }
  &__modern {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__tech {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.button {
  min-height: 6.6vh;
}

.settings-card__toggle-switch {
  position: relative;
  display: inline-block;
  min-width: 4vw;
  min-height: 2.83vh;
}

.settings-card__toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.settings-card__toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid $page-text;
}

.settings-card__toggle-slider:before {
  position: absolute;
  content: "";
  min-height: 2.2vh;
  min-width: 1.4vw;
  left: 0.2vw;
  bottom: 0.2vh;
  top: 0.2vh;
  background-color: $page-text;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:focus + .settings-card__toggle-slider {
  box-shadow: 0 0 1px;
}

input:checked + .settings-card__toggle-slider:before {
  -webkit-transform: translateX(2vw);
  -ms-transform: translateX(2vw);
  transform: translateX(2vw);
}

.settings-card__toggle-slider.round {
  border-radius: 2.1rem;
}

.settings-card__toggle-slider.round:before {
  border-radius: 50%;
}

@media screen and (max-width: 767px) {
  .settings-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .settings-card {
    margin-top: 3vh;
    min-height: 30vh;
    min-width: 92.5%;
    padding: 1.5vh 7vw;
    justify-content: space-between;

    &__mode {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-bottom: 3.75vh;
    }
    &__theme {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    &__option {
      padding-bottom: 0.75vh;
    }
    &__checkbox-label {
      padding-right: 4vw;
    }
    &__checkbox-container {
      min-width: 70%;
      display: flex;
      justify-content: space-between;
    }
    &__modern {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__tech {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__checkbox {
      min-height: 2vh;
      min-width: 2vw;
    }

    &__button-container {
      padding-bottom: 2.5vh;
      min-width: 40vw;
      .button {
        min-height: 4vh;
      }
    }
    &__toggle-container {
      min-width: 22.5vw;
      padding-top: 1vh;
    }
    &__toggle-switch {
      min-width: 10vw;
      min-height: 2vh;
    }
    &__toggle-slider {
      min-width: 10vw;
      min-height: 2vh;
    }
    &__toggle-slider:before {
      min-width: 3.75vmin;
      min-height: 2vmin;
      left: 0.6vw;
      bottom: 0.2vh;
      -webkit-transition: 0.6s;
      transition: 0.6s;
    }
    input:checked + .settings-card__toggle-slider:before {
      -webkit-transform: translateX(4.8vw);
      -ms-transform: translateX(4.8vw);
      transform: translateX(4.8vw);
    }
  }
}
@media screen and (min-width: $tablet-breakpoint) and (max-width: 1023px) {
  .settings-card {
    &__mode {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    &__theme {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    &__option {
      padding-bottom: 0.75vh;
      font-size: 0.8rem;
    }
    &__checkbox-label {
      padding-right: 4vw;
      font-size: 0.7rem;
    }
    &__checkbox-container {
      min-width: 70%;
      display: flex;
      justify-content: space-between;
    }
    &__modern {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__tech {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__checkbox {
      min-height: 2vh;
      min-width: 2vw;
    }

    &__button-container {
      padding-top: 2vh;
      min-width: 40vw;
      .button {
        min-height: 4vh;
      }
    }
    &__toggle-container {
      min-width: 15vw;
      padding-top: 1vh;
    }

    &__toggle-switch {
      min-width: 8vw;
      min-height: 3vh;
    }
    &__toggle-slider {
      min-width: 8vw;
      min-height: 2vh;
    }
    &__toggle-slider:before {
      min-width: 2.5vmin;
      min-height: 2vmin;
      left: 0.6vw;
      bottom: 0.2vh;
      -webkit-transition: 0.6s;
      transition: 0.6s;
    }
    input:checked + .settings-card__toggle-slider:before {
      -webkit-transform: translateX(4.2vw);
      -ms-transform: translateX(4.2vw);
      transform: translateX(4.2vw);
    }
  }
}
@media screen and (min-width: $desktop-breakpoint) and (max-width: 1439px) {
  .settings-card__option {
    font-size: 0.6rem;
  }
  .settings-card__checkbox-label {
    font-size: 0.4rem;
  }
}
@media screen and (min-width: $extra-large-desktop-breakpoint) {
  .settings-card__option {
    font-size: 2rem;
  }
  .settings-card__checkbox-label {
    font-size: 1.6rem;
  }
}
