@use "../../styles/abstracts/variables" as *;
@use "../../styles/base/typography" as *;

.client-form {
    margin: 40px;
    display: flex;
    gap: 100px;
    font-family: $font-modern;
    background-color: $color-white;
    box-shadow: 0px 30px 30px rgba(114, 75, 203, 0.06);
    border-radius: 7px;
    width: 66vw;
    height: 70vh;
    border: 2px solid black;
    margin-left: 8%;
    padding: 40px;
    padding: 5%;
    //padding-top: 30px;
    &__image-container{
        border: 2px solid $light-border;
        border-radius: 7px;
        height: 190px;
        width: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__image-text{
        font-family: $font-modern;
        font-size: 0.875rem;
        font-family: $font-modern;
        font-weight: 600;
        color: $page-sub-heading;
    }
    &__input-container{
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 14px;
    }
}