@use "../../styles/abstracts/variables" as *;
@use "../../styles/base/typography" as *;

.employee-overview-card {
  width: 295px;
  height: auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 30px 40px rgba(114, 75, 203, 0.06);

  font-family: $font-modern;
  gap: 1px;

  &__top {
    background-color: white;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    padding: 20px;
    &--title {
      color: #102b3f;
      font-family: $font-modern;
      font-size: 0.75rem;
      font-weight: 600;
    }

    &--text {
      color: #95accb;
      font-weight: 400;
      font-family: $font-modern;
      font-size: 0.6rem;
    }
  }

  &__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    padding: 20px;
  }
  &__left {
    text-align: left;

    &--date,
    &--course,
    &--manager {
      color: #102b3f;
      font-weight: 500;
      font-family: $font-modern;
      font-size: 0.6rem;
    }
  }
  &__right {
    text-align: end;
    &--date,
    &--course,
    &--manager {
      color: #95accb;
      font-family: $font-modern;
      font-weight: 400;
      font-size: 0.6rem;
    }
  }
}
