@use "../../styles/abstracts/variables" as *;

.new-appointment {
  background-color: white;
  width: 100%;
}

.header {
  top: 0px;
  position: relative;
  height: 13.125rem;
  align-self: stretch;
  & * {
    font-size: 2rem;
  }
}

.info-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: $tablet-breakpoint) {
  .new-appointment {
    display: flex;
    justify-content: stretch;

    background-color: $page-background-light;
  }
  .info-container {
    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }
}
