@use "../../styles/abstracts/variables" as *;

.request-resource-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  height: auto;
  background-color: $page-background-light;
}

@media screen and (min-width: $tablet-breakpoint) {
  .request-resource-container__form {
    margin-top: 5%;
    margin-left: 10%;
  }
}
